<a href="https://colab.research.google.com/github/tontantip/DADS6001-Applied-statistics/blob/main/code%20/final_project/Source_code_final_project_DADS6001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lithium & Alzheimer’s Progression (One-way anova)

## prepare data frame

In [ ]:

nci <- c(68.91, 61.66, 17.63, 33.53, 230.09, 49.17, 61.01, 60.04, 102.31, 55.95, 40.87, 67.84,
         29.43, 140.19, 30.38, 17.21, 71.51, 45.06, 75.51, 134.73, 40.47, 22.07, 64.52, 14.98,
         129.03, 80.89, 51.87, 46.58, 11.60, 31.45, 109.65, 37.39, 37.31, 41.87, 22.52, 19.15,
         50.70, 14.05, 54.40, 50.64, 153.07, 45.60, 44.65, 138.92, 100.29, 81.11, 58.58, 11.58,
         33.33, 72.26, 50.09, 98.59, 14.37, 138.53, 32.23, 49.37, 74.63, 32.73, 86.25, 83.93,
         41.44, 34.07, 33.22, 47.97, 11.29, 204.98, 192.41, 250.39, 39.27, 88.88, 46.01, 30.87,
         34.60, 89.52, 116.05, 48.47, 81.04, 19.53, 116.19, 149.78, 52.92, 39.35, 36.63, 27.00,
         9.71, 48.03, 42.36, 46.80, 46.39, 74.20, 27.14, 71.91, 64.31, 14.22, 90.80, 31.15,
         46.94, 167.84, 168.23, 43.96, 87.84, 92.73, 38.87, 94.16, 50.53, 26.23, 24.54, 41.50,
         182.54, 135.84, 57.41, 154.79, 101.10, 235.64, 57.76, 45.10, 42.29, 67.14, 54.70,
         112.01, 44.84, 63.27, 118.12, 191.86, 41.61, 54.05, 35.00, 66.83, 53.22, 16.18, 145.04,
         12.20, 33.77)

mci <- c(90.02, 4.62, 28.45, 31.44, 44.49, 57.67, 40.98, 47.99, 65.27, 10.59, 96.14, 115.61,
         43.61, 68.11, 92.01, 65.65, 44.78, 80.11, 16.20, 39.04, 37.59, 121.42, 24.62, 37.03,
         85.79, 17.71, 11.20, 22.18, 108.48, 18.29, 28.41, 110.92, 59.86, 18.90, 45.98, 33.78,
         77.84, 85.73, 38.63, 9.87, 19.20, 24.89, 35.46, 63.93, 44.28, 40.59, 53.87, 12.35,
         57.54, 77.73, 79.49, 40.56, 32.31, 31.53, 19.16, 71.68, 36.72, 43.54)

ad <- c(18.43, 21.54, 28.01, 26.29, 43.87, 96.68, 42.72, 5.66, 89.19, 77.63, 76.99, 28.85,
        111.60, 6.24, 33.12, 25.61, 42.66, 29.30, 38.50, 44.89, 9.37, 26.38, 63.23, 20.81,
        84.00, 105.19, 29.73, 17.82, 51.21, 28.58, 19.32, 101.93, 60.00, 22.39, 59.17, 16.79,
        2.09, 40.18, 40.50, 80.59, 55.25, 30.15, 66.24, 25.55, 63.23, 37.27, 18.83, 43.58,
        75.60, 86.75, 36.11, 23.78, 31.82, 102.30, 30.93, 11.59, 50.60, 39.17, 27.77, 15.95,
        29.56, 38.70, 35.85, 30.45, 37.25, 25.66, 50.26, 76.44, 7.16, 15.83, 24.60, 50.78,
        47.75, 39.77, 33.91, 23.45, 62.91, 22.95, 54.38, 42.81, 73.65, 45.51, 52.26, 58.78,
        49.22, 39.90, 23.14, 28.98, 17.98, 62.81, 35.70, 73.91, 69.55, 41.16)

lithium_data <- data.frame(
  Value = c(nci, mci, ad),
  Group = factor(c(rep("NCI", length(nci)),
                   rep("MCI", length(mci)),
                   rep("AD", length(ad))))
)

## Test assumption

### Normality test

In [ ]:
if(!require(rstatix)) install.packages("rstatix")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘xts’, ‘TTR’, ‘quadprog’, ‘quantmod’, ‘colorspace’, ‘fracdiff’, ‘lmtest’, ‘timeDate’, ‘tseries’, ‘urca’, ‘zoo’, ‘RcppArmadillo’, ‘cowplot’, ‘Deriv’, ‘forecast’, ‘microbenchmark’, ‘rbibutils’, ‘numDeriv’, ‘doBy’, ‘SparseM’, ‘MatrixModels’, ‘minqa’, ‘nloptr’, ‘reformulas’, ‘Rdpack’, ‘RcppEigen’, ‘carData’, ‘abind’, ‘Formula’, ‘pbkrtest’, ‘quantreg’, ‘lme4’, ‘corrplot’, ‘car’

In [ ]:
shapiro_test(nci)
shapiro_test(mci)
shapiro_test(ad)

  variable statistic p.value
W nci      0.8472673 2.038525e-10

  variable statistic p.value
W mci      0.94106   0.007213414

  variable statistic p.value
W ad       0.9396835 0.0002958116

### Homogeneity test

In [ ]:
one_way <- aov(Value ~ Group, data = lithium_data)

levene_test(one_way)

  df1 df2 statistic p
1 2   282 8.184283  0.0003507051

## Statistic test

In [ ]:
welch_anova <- oneway.test(Value ~ Group, data = lithium_data, var.equal = FALSE)
print(welch_anova)

	One-way analysis of means (not assuming equal variances)

data:  Value and Group
F = 12.567, num df = 2.00, denom df = 156.81, p-value = 8.665e-06

## Post hoc (games howell test)

In [ ]:
library(rstatix)
post_hoc_result <- games_howell_test(Value ~ Group,data = lithium_data)

# 3. แสดงผลลัพธ์
print(post_hoc_result)

# A tibble: 3 × 8
  .y.   group1 group2 estimate conf.low conf.high     p.adj p.adj.signif
* <chr> <chr>  <chr>     <dbl>    <dbl>     <dbl>     <dbl> <chr>
1 Value AD     MCI        6.12    -4.89      17.1 0.386     ns
2 Value AD     NCI       25.4     13.5       37.4 0.0000033 ****
3 Value MCI    NCI       19.3      5.50      33.1 0.003     **

# Diagnosis and Plaque Status on Brain Lithium (Two-way anova)

## prepare data frame

In [ ]:
nci_np <- c(0.851, 1.554, 1.162, 1.501, 0.840, 0.054, 1.081)
nci_p  <- c(1.965, 2.162, 2.203, 2.641, 2.260, 2.233, 2.185)
ad_np  <- c(0.990, 1.010, 1.874, 1.026, 0.126)
ad_p   <- c(3.428, 3.720, 3.743, 4.491, 2.246)


two_way_data <- data.frame(
  Value = c(nci_np, nci_p, ad_np, ad_p),
  Diagnosis = factor(c(rep("NCI", length(nci_np) + length(nci_p)),
                       rep("AD", length(ad_np) + length(ad_p)))),
  Plaque_Type = factor(c(rep("NP", length(nci_np)),
                         rep("P", length(nci_p)),
                         rep("NP", length(ad_np)),
                         rep("P", length(ad_p))))
)

## Test assumption

### Normality test

In [ ]:
library(rstatix)

two_way_data %>%
  group_by(Diagnosis, Plaque_Type) %>%
  shapiro_test(Value)

  Diagnosis Plaque_Type variable statistic p
1 AD        NP          Value    0.8963206 0.3898852
2 AD        P           Value    0.9230921 0.5500804
3 NCI       NP          Value    0.9064065 0.3715528
4 NCI       P           Value    0.8473569 0.1162291

### Homogeneity test

In [ ]:
res_2way <- aov(Value ~ Diagnosis * Plaque_Type, data = two_way_data)

levene_test(res_2way)

  df1 df2 statistic p
1 3   20  0.984165  0.4201287

## Statistic test

In [ ]:
summary(res_2way)

                      Df Sum Sq Mean Sq F value   Pr(>F)
Diagnosis              1  2.423   2.423   8.115  0.00993 **
Plaque_Type            1 18.741  18.741  62.753 1.36e-07 ***
Diagnosis:Plaque_Type  1  2.430   2.430   8.138  0.00984 **
Residuals             20  5.973   0.299
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

## Post hoc (Tukey test)

In [ ]:
TukeyHSD(res_2way)

  Tukey multiple comparisons of means
    95% family-wise confidence level

Fit: aov(formula = Value ~ Diagnosis * Plaque_Type, data = two_way_data)

$Diagnosis
             diff       lwr        upr     p adj
NCI-AD -0.6445429 -1.116523 -0.1725629 0.0099273

$Plaque_Type
         diff      lwr      upr p adj
P-NP 1.767333 1.301955 2.232712 1e-07

$`Diagnosis:Plaque_Type`
                      diff        lwr        upr     p adj
NCI:NP-AD:NP  0.0009428571 -0.8946795  0.8965652 1.0000000
AD:P-AD:NP    2.5204000000  1.5530173  3.4877827 0.0000027
NCI:P-AD:NP   1.2303714286  0.3347491  2.1259938 0.0051364
AD:P-NCI:NP   2.5194571429  1.6238348  3.4150795 0.0000008
NCI:P-NCI:NP  1.2294285714  0.4118410  2.0470162 0.0022474
NCI:P-AD:P   -1.2900285714 -2.1856509 -0.3944062 0.0033656